> 1%               # Браузеры, которые используют более 1% пользователей
last 2 versions    # Последние 2 версии каждого браузера
not dead           # Исключение устаревших браузеров, которые больше не поддерживаются

